<p style="color: green"><%= notice %></p>
  <% if @recipe.image? %>

  <div class= "show-hero">
  <%= image_tag @recipe.image.url, class: "recipe-show" %>
    <div class= "show-hero-overlay">
      <%= render @recipe %> 
    </div> <!---show-hero-overlay--->
  </div> <!---show--hero--->
  <% end %>

<div class="container">
     
             


<h3>Ingredients</h3>
<ul>
  <% for @ingredient in @recipe.ingredients %>
    <li><%= @ingredient.content %></li>
  <% end %>
</ul> <!--This is for Ingredients display--->

<h3>Steps</h3>
<ol>
  <% for @step in @recipe.steps %>
    <li><%= @step.direction %></li>
  <% end %>
</ol> <!---This is for Steps display--->

  <div>
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
    <%= link_to "Back to recipes", recipes_path %>

    <%= button_to "Destroy this recipe", @recipe, method: :delete %>
  </div>
</div>  <!--container-->